@import url('https://api.fontshare.com/v2/css?f[]=clash-grotesk@700,400,600,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mynerve&display=swap');
// Font

$font-family-display: "Clash Grotesk", sans-serif;
$font-family-text: "Schibsted Grotesk", sans-serif;
$font-family-accent: "Instrument Serif", serif;
$font-family-hand: "Mynerve", cursive;
// Color

$--dark-color: hsl(30, 5%, 10%);
$--background-color: hsl(30, 20%, 94%);
$--grey-color: hsl(30, 20%, 70%);

// Other Variables

