@import url('https://api.fontshare.com/v2/css?f[]=clash-grotesk@700,400,600,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif&display=swap');
@import url('https://api.fontshare.com/v2/css?f[]=new-title@700,1,500,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mynerve&display=swap');
// Font

$font-family-display: "Clash Grotesk", sans-serif;
$font-family-text: "Schibsted Grotesk", sans-serif;
$font-family-accent: "Instrument Serif", serif;
$font-family-heading: "New Title", sans-serif;
$font-family-hand2: "Nanum Pen Script", sans-serif;
$font-family-hand: "Mynerve", cursive;
// Color

$--dark-color: hsl(0, 0%, 15%);
$--background-color: rgb(243, 240, 237);
$--shadow-color: 30deg 6% 61%;



// Other Variables

