.hero-section {
  height: 100svh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .hero-text-container {
    flex-grow: 1;
    display: grid;
    place-items: center;
    max-width: 70%;
    padding-top: 5rem;

    @include media(">=2xl") {
      max-width: 62%;
    }
    
    @include media ("<=sm"){
      max-width: 100%;
    }

    @include media (">=md", "<lg"){
      max-width: 90%;
    }

    .hero-text {
      position: relative;
      margin: 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      font-family: $font-family-accent;
      font-weight: 400;
      font-size: 82px;
      line-height: 1.1;

      @include media(">=2xl") {
        font-size: 96px;
      }

      @include media ("<=sm"){
        font-size: 42px;
      }

      @include media (">=md", "<=lg"){
        font-size: 72px;
      }
  
      .word-mask {
        overflow: hidden;
        position: relative;
        display: inline-flex;

        .word {
          position: relative;
        }
      }
      .word-mask:nth-child(2) {
        font-family: $font-family-hand;
        font-size: 1.02em;
        font-weight: 500;
        background-image: url(/src/assets/icon/underline.svg);
        background-position: bottom 0.02em left;
        background-repeat: no-repeat;
        background-size: 90% 0.2em;
      }
      .word-mask:nth-child(7) {
        font-family: $font-family-hand;
        font-size: 1.02em;
        font-weight: 500;
        background-image: url(/src/assets/icon/underline.svg);
        background-position: bottom 0.02em left;
        background-repeat: no-repeat;
        background-size: 90% 0.2em;
      }
      .word-mask:nth-child(8) {
        font-family: $font-family-hand;
        font-size: 1.02em;
        font-weight: 500;
        background-image: url(/src/assets/icon/underline.svg);
        background-position: bottom 0.02em left;
        background-repeat: no-repeat;
        background-size: 90% 0.2em;
      }
    }
  }

  .illu-container {
    height: 40%;
    
    .illu {
      height: 100%;

      @include media ("<=sm"){
        width: 100%;
        height: auto;
      }
    }

    @include media ("<=sm"){
      height: 30%;

    }

    @include media (">=md", "<=lg"){
      height: 30%;
    }
  }

  .cta-container {
    height: 8%;
    display: flex;
    transition: all 0.4s;

    &:hover {
      transform: translateY(10%);
    }
  

    .cta-header {
      position: relative;
      font-size: 1.75rem;
      font-family: $font-family-hand;
      font-weight: 500;
      text-transform: lowercase;

      @include media(">=2xl") {
        font-size: 1.75rem;
      }

      @include media ("<=sm"){
        font-size: 1.25rem;
      }
    }
  }

  .is-scrolled {
    opacity: 0;
  }
}
