.hero-section {
  box-sizing: border-box;
  height: 100svh;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  .hero-heading{

    width: 70%;

    @include media ("<=sm"){
      width: 100%;
    }
    
    .inline-illu{
      display: inline-flex;
      flex-direction: row;
      
      .illu-header{
        height: 120px;
        margin-inline: 1rem;

        @include media ("<=sm"){
          height: 48px;
        }
      }
    }
    .hero-text {
      font-size: clamp(30px, 6.5vw, 96px);
      text-align: center;
      font-family: $font-family-accent;
      font-weight: 400;
      margin: 0;
      line-height: 1.2;
      color: $--dark-color;
  
      @include media("<=sm") {
        width: 100%;
        font-size: 48px;
      }
    }
  }
}