.hero-section {
  position: relative;
  display: grid;
  place-items: center;
  height: 100vh;
  overflow: hidden;

  .hero-text-container {

    margin: 0;
    display: flex;
    gap: 0;

    .hero-text-row {
      position: relative;
      white-space: nowrap;
      display: inline-flex;

      .hero-text {
        font-family: $font-family-display;
        text-transform: uppercase;
        line-height: 1;
        font-size: 50vh;
        letter-spacing: -0.25rem;
        word-spacing: -1rem;
        font-weight: 500;
        margin: 0;
      }
    }
  }
 
  .collage-container{
    position: absolute;
    padding: 1.25rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    --shadow-color: 0deg 0% 0%;
    box-shadow: -0.7px 0.7px 1.4px hsl(var(--shadow-color) / 0.04),
    -14.6px 13.8px 28.6px -0.5px hsl(var(--shadow-color) / 0.22);

    .hero-image{
      height: 10%;
    }
    figcaption{
      font-family: $font-family-hand;
      font-size: 1.15rem; 
      text-align: center;
    }
  }

  .image-1{
    top: 10%;
    width: 20%;
    left: 5%;
    rotate: 10deg;
  }
  .image-2{
    top: 15%;
    width: 20%;
    left: 70%;
    rotate: -12deg;
  }
  .image-3{
    top: 40%;
    width: 20%;
    left: 40%;
    rotate: -5deg;
  }
}
