@import "./scss/index";

*{
  -webkit-font-smoothing: antialiased;
}
body{

  overflow-x: hidden !important;
  box-sizing: border-box !important;
  margin: 0;
  font-family: $font-family-text;
  background-color: $--background-color;

}

h1, h2, h3, h4, h5, h6, p{

  line-height: 1.5;
}

li, a{

  list-style: none;
  text-decoration: none;

}

special1 {
  font-family: $font-family-hand;
}

special2 {
  font-family: $font-family-hand;
}