.tag-lists {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  justify-content: center;
  padding: 0;
  margin-bottom: 5rem;

  .tags {
    font-size: 1.5rem;

    @include media("<=sm") {
      font-size: 0.9rem;
    }
  }
}

.posts-list {
  display: grid;
  grid-template-columns: repeat(2, 35%);
  column-gap: 2rem;
  row-gap: 7rem;
  justify-content: space-evenly;
  margin-bottom: 5rem;
  height: fit-content;

  .post,
  .post-texts,
  .top {
    display: flex;
  }

  .post {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    height: 25rem;
    cursor: pointer;
    transition: 0.4s;

    &:hover {
      img {
        transition: 0.4s;
        opacity: 0.5;
      }
    }
  }

  .post-texts {
    flex-direction: column;
    gap: 0.25rem;

    .top {
      justify-content: space-between;
      align-items: center;

      .tag {
        opacity: 0.7;
      }
    }

    .post-title {
      font-family: $font-family-accent;
    }

    h1,
    p {
      margin: 0;
      color: $--dark-color;
    }
  }
}
